.box
  %ul
    %li
      %a{ :href => "" }
        Main courses
      %span.badge 5
    %li
      %a{ :href => "" }
        Drinks
      %span.badge 2
    %li
      %a{ :href => "" }
        Desserts
      %span.badge 1
    %li
      %a{ :href => "" }
        Sauces
      %span.badge 1
    %li.divider
    %li
      %a{ :href => "" }
        Other recipes liked
      %span.badge 13
