.row.recipe_section
  .span3.user_sidebar
    %p
      = link_to "Thor", "/thor"
    %a{ :href => "/thor" }
      %img{ :src => "http://cl.ly/07041I352S2P2c0K3V3f/content#.png", :style => "max-width: 100%" }

    .follow
      %a.btn{ :href => "" }
        %i.icon-eye-open
        Follow Thor's recipes

    = render 'user_navigation'

  .span9.recipe
    .box
      .row.head
        .span6{ :style => "width: 440px" }
          %h1 Triple chocolate cream
          %p A guilty pleasure to enjoy as a dessert or a delicious tea time sweet. Share it with your friends and family!
        .span3.extra
          .stats
            %span{ :href => "", :rel => "tooltip", :title => "Comments from people who cooked this recipe" }
              %i.icon-comment
              %a{ :href => "" }
                2
            %span{ :rel => "tooltip", :title => "See who liked this recipe" }
              %i.icon-heart
              %a{ :href => "" }
                6
            %span{ :rel => "tooltip", :title => "2 people made their own version of this recipe" }
              %i.icon-random
              %a{ :href => "" }
                2
          %p
            Posted 8 days ago under
            = link_to("Desserts")
          %p
            Recipe from
            = link_to("seriouseats.com")
      .row.actions
        .span8
          %a.btn{ :rel => "tooltip", :title => "Save to your collection of recipes.<br>It will appear in your profile." }
            %i.icon-plus
            Save to my Cookbook
          %a.btn{ :rel => "tooltip", :title => "Send a link by email" }
            %i.icon-envelope
            Share with a friend
          %a.btn{ :rel => "tooltip", :title => "Love this recipe? Vote for it!" }
            %i.icon-heart
            Like
          %a.btn{ :rel => "tooltip", :title => "Modify this recipe and<br>make your own version" }
            %i.icon-random
            Make my own version
      .row.body
        .span3
          %h2 Ingredients
          %ul
            %li 1 lb. chocolate powder
            %li Vanilla (use only original vanilla extract from plans, avoid artificially produced vanilla flavorings)
            %li 2 cups white sugar
            %li 1 cup of milk
            %li 1 stick of butter
        .span6{ :style => "width: 440px" }
          %img{ :src => "http://media-cache-ec7.pinterest.com/upload/151081762469873231_gzSTOxCp_f.jpg" }
      .row.full
        .span9
          %h2 Directions
          %p First, ...

  .clear
