.row.reasons
  .span4
    %h3
      %i.icon-user
      Social cooking
    %p.subh3
      "What's your secret for these cookies?"
    %p
      Share recipes, add your variations and comments for your friend's recipes!
  .span4
    %h3
      %i.icon-glass
      A world of recipes
    %p.subh3
      "What's an easy mexican main course?"
    %p
      Discover great new recipes from people like you.
  .span4
    %h3
      %i.icon-book
      Your cookbook, anywhere
    %p.subh3
      On the go, or simply away from the screen?
    %p
      Access your cookbook online with your phone!

.row.navigation
  .span12
    %ul
      %li.active
        %a{ :href => "/" }
          Popular recipes
      %li
        %a{ :href => "/" }
          Categories
      -# Add "By ingredients", "By cooking style", "By dish type"

.row.explore
  .span3
    .box
      %img{ :src => "http://media-cache-ec6.pinterest.com/upload/203576845626410066_tepaypbG_b.jpg" }
      %p Pablo's <a href="">baked chicken</a>
    .box
      %img{ :src => "http://media-cache-ec7.pinterest.com/upload/92253492337035844_7QYqubRj_b.jpg" }
      %p Jenny's <a href="">guacamole melt</a>
  .span3
    .box
      %img{ :src => "http://media-cache-ec6.pinterest.com/upload/194710383860042779_EJITo4oX_b.jpg" }
      %p Marcos' <a href="">amazing meat</a>
    .box
      %img{ :src => "http://media-cache-ec7.pinterest.com/upload/242350023667704567_2lVbayhf_b.jpg" }
      %p Pau's <a href="">vegan pizza</a>
  .span3
    .box
      %img{ :src => "http://media-cache-ec7.pinterest.com/upload/80431543315176925_x55sNRDz_b.jpg" }
      %p Jordi's <a href="">heart attack muffins</a>
    .box
      %img{ :src => "http://media-cache-ec6.pinterest.com/upload/208150813997025043_Tn2aWIqG_b.jpg" }
      %p Jack's <a href="">creamy pasta</a>
  .span3
    .box
      %img{ :src => "http://media-cache-ec4.pinterest.com/upload/196891814929611240_syzwBINf_b.jpg" }
      %p Ines' <a href="">sick nutella fudgesicles with extra awesomeness</a>
    .box
      %img{ :src => "http://media-cache-ec7.pinterest.com/upload/211528513718197331_2LEmPCFp_b.jpg" }
      %p Dan's <a href="">enchiladas Miami-style</a>
