body
  padding: 0
  font-size: 13px
  font-family: Helvetica,arial,freesans,clean,sans-serif
  line-height: 1.4
  color: #222
  background-color: rgb(252,252,252)

.page-header
  margin: 10px 0
  padding-bottom: 5px

.row.header
  .logo
    position: relative
    top: -2px
    font-size: 24px
    font-weight: bold
    span
      font-weight: normal
    a
      color: #333
  .tagline
    text-align: center
    background: #ff0
    border: 1px solid #ccc inside
    padding: 5px 0
    @include box-shadow(#ccc 1px 1px 4px)
    @include background-image(linear-gradient(top, #ffe, #ffc))
    font-weight: bold
    font-size: 14px
  .buttons
    text-align: right

