body
  padding-top: 10px
  padding-bottom: 10px
  font-size: 13px
  font-family: Helvetica,arial,freesans,clean,sans-serif
  line-height: 1.4
  color: #222
  background: rgb(220,220,220)

.row.header
  .logo
    margin-top: 4px
    font-size: 24px
    font-weight: bold
    span
      font-weight: normal
    a
      color: #333
  .tagline
    text-align: center
    background: #ff0
    border: 1px solid #ccc inside
    padding: 5px 0
    @include box-shadow(#ccc 1px 1px 4px)
    @include background-image(linear-gradient(top, #ffe, #ffc))
    font-weight: bold
    font-size: 14px
  .buttons
    text-align: right

