.row.recipe_section
  margin-top: 20px

  .recipe
    .row.head
      margin-bottom: 10px
      padding-bottom: 5px
      h1
        margin-bottom: 5px
      .stats
        line-height: 40px
        font-size: 14px
        span
          border: 1px solid #cccccc
          border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
          padding: 4px 10px 4px
          -webkit-border-radius: 4px
          -moz-border-radius: 4px
          border-radius: 4px
          margin-right: 5px
      .extra
        p
          font-size: 11px
          margin: 0
    .row.actions
      margin-bottom: 10px
    h2
      font-size: 14px
    .row.body
