.row.recipe
  margin-top: 20px
  .user
    p
      font-size: 16px
      font-weight: bold
    ul
      margin: 0
      li
        list-style: none
        position: relative
        line-height: 24px
        a
          display: block
        .badge
          position: absolute
          right: 0
          top: 0
      li.divider
        display: block
        border-bottom: 1px solid #ddd
        padding-top: 5px
        margin-bottom: 8px

  .recipe
    .row.head
      margin-bottom: 10px
      padding-bottom: 5px
      border-bottom: 1px solid #ddd
      h1
        margin-bottom: 5px
      .extra
        p
          font-size: 11px
          margin: 0
    .row.actions
      margin-bottom: 10px
    .row.body
      h2
        font-size: 14px
