!!! 5
%html
  %head
    %title diphub
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container_12.splash
      .grid_3
        .big_logo
          dip<span>hub</span>
        %p.sub_logo "github for recipes"
      .grid_6
        %ul.points
          %li <strong>discover</strong> new dishes
          %li <strong>build</strong> your cookbook
          %li <strong>share</strong> your creations
      .grid_3
        Sign up
    - if false
      .container_12
        .grid_2
          .logo
            dip<span>hub</span>
        .grid_10
      .clear
      .container_12.main
        .grid_2
          %ul
            %li.title Recipes
            %li Lol
            %li Lol
        .grid_10
          = yield
      .clear

