!!! 5
%html
  %head
    %title diphub
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .row.splash
        .span3.offset1.big_logo
          %p dip<span>hub</span>
          %h1 "github for recipes"
        .span4.signup_box
          %p Organize recipes you love.
          %p
            %a.btn.btn-primary
              Start your own cookbook
            or
            %a.btn
              Login
        .span3.taglines
          %ul.points
            %li <strong>discover</strong> new dishes and
            %li build <strong>your own cookbook</strong>
            -#%li <strong>share</strong> your creations

      .row.reasons
        .span4
          %h3
            %i.icon-user
            Social cooking
          %p.subh3
            "What's your secret for these cookies?"
          %p
            Share recipes, add your variations and comments for your friend's recipes!
        .span4
          %h3
            %i.icon-glass
            A world of recipes
          %p.subh3
            "What's an easy mexican main course?"
          %p
            Discover great new recipes from people like you.
        .span4
          %h3
            %i.icon-book
            Your cookbook, anywhere
          %p.subh3
            On the go, or simply away from the screen?
          %p
            Access your cookbook online with your phone!

