!!! 5
%html
  %head
    %title diphub
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .row.header
        .span3.logo
          %a{ :href => "/" }
            dip<span>hub</span>
        .span5.tagline
          Organize and share recipes you love.
        .span4.buttons
          %a.btn.btn-primary
            Create your own cookbook
          %a.btn
            Login
        .clear
      = yield

