!!! 5
%html
  %head
    %title diphub
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .row.header
        .span3.offset1.logo
          dip<span>hub</span>
        .span7
          &nbsp;
        .span1
          %a.btn
            Login
      .clear
      = yield

